{% extends "master.html" %}

{% block body %}

    <div class="row">
        <div class="col-md-offset-1 col-md-1">
            <a class="btn btn-default" href="{% url 'accounts:account_list' %}">
                <span class="glyphicon glyphicon-arrow-left">&nbsp;</span>Accounts List</a>
        </div>
    </div>

    <br/>
    <br/>

    <div class="row">
        <div class="col-md-offset-1 col-md-5">
            <form action="" method="post">{% csrf_token %}
                <div class="alert alert-danger">Are you sure you want to delete "{{ object.name }}"?</div>
                <br/>
                <input class="btn btn-danger" type="submit" value="Confirm"/>
            </form>
        </div>
    </div>

{% endblock %}